<!DOCTYPE html>
<html lang="en">


{{ partial "head.html" . }}

<body>
	<nav class="navbar">
		<a href="/">
			<div class="nav-logo"><i class="fas fa-bug"></i></div>
		</a>
		<ul class="nav-menu">
			<li class="nav-menu-li">
				<a class="nav-menu-item" href="/articulos/">
					Artículos
				</a>
			</li>
			<li class="nav-menu-li">
				<a class="nav-menu-item" href="/tutoriales/">
					Tutoriales
				</a>
			</li>
			<li class="nav-menu-li">
				<a class="nav-menu-item" href="#">
					Videos
				</a>
			</li>
		</ul>
		<div class="nav-social">
			<a class="nav-menu-item" target="_blank" href="https://twitter.com/Pedro_412">
				<i class="fab fa-twitter"></i>
			</a>
		</div>
	</nav>

	<div class="main-container container">
		{{ block "main" . }}

		{{ end }}
	</div>

	<footer>
		<div class="text-center bold">
			<small>Copyright &copy; {{ now.Format "2006" }} <br>
				Creado con 💚 por Pedro Álvarez
			</small>
		</div>
	</footer>

</body>

</html>