{{ define "main" }}

<h1 class="text-center">Tutoriales</h1>
<hr>

<section class="section-grid">
    {{ range .Pages }}

    {{ $featured := print .RelPermalink "/img/featured.jpg" | default .Site.Data.defaults.featured_img }}

    <article class="list-article text-center">

        <a href="{{ .RelPermalink }}">
            <img class="img-fluid" src="{{ $featured }}">
        </a>

        <h3>{{ .Title }}</h3>
        <p>
            {{ .Description }}
        </p>
        <a href="{{.Permalink}}" class="btn btn-success btn-block">LEER</a>
    </article>

    {{ end }}
</section>

{{ end }}